# Tipe Data

In [1]:
print(type(10))
print(type(10.0000))
print('halo ini kayla')
print(type("kayla"))

<class 'int'>
<class 'float'>
halo ini kayla
<class 'str'>

In [2]:
print(type("100"))

<class 'str'>

In [3]:
print(type(False))

<class 'bool'>

In [4]:
print(type('False'))

<class 'str'>

In [5]:
ini_adalah_objek_yang_namanya_sangat_panjang =100
print(ini_adalah_objek_yang_namanya_sangat_panjang)

100

In [6]:
n =100

In [7]:
print(n)

100

In [8]:
n = 10

In [9]:
print(n)

10

# Variable Types in Python

In [10]:
var = 23.5
print(var)

23.5

In [11]:
var = "Now i'm a string"
print(var)

Now i'm a string

# Variable Names

In [12]:
name = "Hacktiv8"
Age = 54
has_laptops = True
print(name, Age, has_laptops)

Hacktiv8 54 True

# Operator and expressions in python

In [13]:
a = 10
b = 20
a+b

30

#### arithmetic operators

In [14]:
a = 4
b = 3

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)

7
1
12
1.3333333333333333
1
64

### Comparison Operators

In [15]:
a = 10
b = 20

print(a==b)
print(a !=b)
print(a<=b)

False
True
True

# string manipulation

In [16]:
s = 'foo'
t = 'bar'
u = 'baz'
print(s+t)

foobar

In [17]:
print(s+t+u)

foobarbaz

In [18]:
s*4

'foofoofoofoo'

In [19]:
print( s in "the food is good")

True

In [20]:
k = "HackTIVE8"

In [21]:
print(k)

HackTIVE8

In [22]:
k.capitalize()

'Hacktive8'

In [23]:
k.lower()

'hacktive8'

In [24]:
k.upper()

'HACKTIVE8'

In [25]:
k.swapcase()

'hACKtive8'

In [26]:
m = "Hactive adalah sebuah tempat belajar"
m.title()

'Hactive Adalah Sebuah Tempat Belajar'

# List

In [27]:
#list
#list menggunakan kurung siku []
#list bisa contain apapun
a = ['foo', 'bar','has',1,1.0,True]
print(a)

['foo', 'bar', 'has', 1, 1.0, True]

In [28]:
a[0]

'foo'

In [29]:
a[4]

1.0

In [30]:
#list berada di dalam list
# nested list
['list',['list in list', 'list2', ['list3']]]

['list', ['list in list', 'list2', ['list3']]]

In [31]:
a=['foo','bar','qux']
b=['qux','foo','bar']

In [32]:
print(a)

['foo', 'bar', 'qux']

In [33]:
print(b)

['qux', 'foo', 'bar']

In [34]:
print(a==b)

False

In [35]:
a=[2.23,'foobar',True,1.0,6]

In [36]:
print(a)

[2.23, 'foobar', True, 1.0, 6]

In [37]:
print(type(a[0]))

<class 'float'>

In [38]:
a[-1] # ambil elemen paling belakang

6

In [39]:
a[-2]

1.0

# Slicing

In [40]:
#sliceing
# dari elemen o sama 1 . emen 1 gamasuk
a[0:1]

[2.23]

In [41]:
#slicing elemen 2 sampai 3
# 2 masuk
# 3 gamasuk
a[2:3]

[True]

In [42]:
a*2

[2.23, 'foobar', True, 1.0, 6, 2.23, 'foobar', True, 1.0, 6]

In [43]:
len(a)

5

In [44]:
b=['foo','bar','qux','la']

In [45]:
print(min(b)) #sesuai dengan urutan alfabet

bar

In [46]:
print(max(b))

qux

In [47]:
z = ['a',['b','c',['d','e']]]

In [48]:
print(z)

['a', ['b', 'c', ['d', 'e']]]

In [49]:
z[1]

['b', 'c', ['d', 'e']]

In [50]:
#modify list
a=['foo','bar','bas','kak','wax','cut']

In [51]:
a[2]=10
a[-1]=20

In [52]:
print(a)

['foo', 'bar', 10, 'kak', 'wax', 20]

In [53]:
del a[3] # menghapus elemen dari sebuah list

In [54]:
print(a)

['foo', 'bar', 10, 'wax', 20]

In [55]:
print(a[1:4])

['bar', 10, 'wax']

In [56]:
a[1:4] = [1.1, 1.2, 1.3,1.6] # kalau berlebih juga gapapa

In [57]:
print(a)

['foo', 1.1, 1.2, 1.3, 1.6, 20]

# Tuple

In [58]:
#tuple
#sama seperti list namun kedalam kurung buasa ()
t = ('foo','bar','wah','que','kak')

In [59]:
print(t)

('foo', 'bar', 'wah', 'que', 'kak')

In [60]:
print(t[-1])

kak

In [61]:
s1,s2,s3 = ('foo','bar','qur')
#tuple bisa dipakai / di assign ke dalam variabel
# hanya bisa di assign satu kali

In [62]:
print(s1)
print(s2)
print(s3)

foo
bar
qur

# Dictionary

In [63]:
MLB_team = {
    'Colorado':'Rockies',
    'Boston':'Red Sox',
    'Minnesota':'Brewers',
    'Seattle':'Mariners'
}

In [64]:
print(MLB_team['Minnesota'])

Brewers

In [66]:
# adding dictionary
MLB_team['Colorado'] = 'Japan'

In [67]:
MLB_team['Colorado']

'Japan'

In [68]:
del MLB_team['Colorado']

In [69]:
MLB_team

{'Boston': 'Red Sox', 'Minnesota': 'Brewers', 'Seattle': 'Mariners'}

In [70]:
print(type(MLB_team))

<class 'dict'>

In [71]:
person = {}
type(person)

dict

In [72]:
person['fname'] = 'Kayla'
person['mname'] = 'Alysa'
person['lname'] = 'Adra'
person['Age'] = 21

In [73]:
person

{'fname': 'Kayla', 'mname': 'Alysa', 'lname': 'Adra', 'Age': 21}

In [74]:
person['Hobby'] = 'singing'

In [75]:
person

{'fname': 'Kayla',
 'mname': 'Alysa',
 'lname': 'Adra',
 'Age': 21,
 'Hobby': 'singing'}

In [76]:
del person['Hobby']

In [77]:
person

{'fname': 'Kayla', 'mname': 'Alysa', 'lname': 'Adra', 'Age': 21}

In [78]:
#nested dictionary
person['Pets'] = {'Cat','Horse','Dog','Rabbit'}

In [79]:
person

{'fname': 'Kayla',
 'mname': 'Alysa',
 'lname': 'Adra',
 'Age': 21,
 'Pets': {'Cat', 'Dog', 'Horse', 'Rabbit'}}

In [80]:
person['Pets']

{'Cat', 'Dog', 'Horse', 'Rabbit'}

In [81]:
person.keys()

dict_keys(['fname', 'mname', 'lname', 'Age', 'Pets'])

# Line Continuation

In [82]:
person1_age = 20
person2_age = 21
person3_age = 22
someone = (person1_age <= person2_age) or (person1_age>= person3_age)

In [83]:
someone

True

In [84]:
someone2 = (person1_age <= person2_age) and (person1_age>= person3_age)

In [85]:
someone2

False