# conditional statement

In [1]:
x = 0
y = 5

if x<y:
  print('yes')

yes

In [2]:
if x:
  print('yes')

In [3]:
if y:
  print('yes')
  print('another activity')
  print('another activity 2')
  print('another activity 3')

print('this is outside of the if statement')

yes
another activity
another activity 2
another activity 3
this is outside of the if statement

In [4]:
if 'foo' in ['foo', 'bar', 'bas']:
  print('outer condition is true')

  if 10 > 20:
    print('inner condition 1')
  
  print('between inner condition')

  if 10< 20:
    print('inner condition 2')

  print('print of outer condition')

print('after outer condition')

outer condition is true
between inner condition
inner condition 2
print of outer condition
after outer condition

In [5]:
if 'foo' in [ 'bar', 'bas']:
  print('outer condition is true')

  if 10 > 20:
    print('inner condition 1')
  
  print('between inner condition')

  if 10< 20:
    print('inner condition 2')

  print('print of outer condition')

print('after outer condition')

after outer condition

# else and elif clauses

In [6]:
x = 20

if x < 50:
  print('(first suite)')
  print('x is small')
else:
  print('(second suite)')
  print('x is large')

(first suite)
x is small

In [7]:
x = 150

if x < 50:
  print('(first suite)')
  print('x is small')
else:
  print('(second suite)')
  print('x is large')

(second suite)
x is large

In [8]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
  print('Beli buku')
else:
  print('uang tidak cukup')

uang tidak cukup

In [9]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 10000

if uang > hargaBuku:
  print('Beli buku')
elif uang > hargaMajalah:
  print('beli majalah')
else:
  print('uang tidak cukup')

beli majalah

In [10]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 200000

if uang > hargaBuku:
  print('Beli buku')
elif uang > hargaMajalah:
  print('beli majalah')
else:
  print('uang tidak cukup')

Beli buku

In [11]:
name = "hacktiv8"

if name == "fred":
  print('hello fred')
elif name=="Xander":
  print('hello Xander')
elif name=="hacktiv8":
  print('hello hacktiv8')
elif name== "kayla":
  print('hello kayla')
else:
  print('i don`t know who you are ')

hello hacktiv8

# one line if statement

In [12]:
if 'f' in 'foo': print('1'); print('2'); print('3')

1
2
3

In [13]:
x = 2

if x==1: print('foo'); print('bar');print('bas')
elif x==2 : print('que'); print('quux')
else: print('corge');print('glaute')

que
quux

# Conditional Expression

In [14]:
raining = False

print("Let`s go to the", "beach" if not raining else "Library")

Let`s go to the beach

In [15]:
age = 70

a = 'teen' if age< 21 else 'adult'

a

'adult'

In [16]:
'yes' if {'qux' in ['foo','bar','bax']} else 'no'

'yes'

# Pass Statement

In [17]:
if True:
    print('foo')

foo

In [18]:
if False:
    print('foo')

# Iteration

In [19]:
n = 5

while n> 0 :
  n -= 1
  print(n)

4
3
2
1
0

In [20]:
i = 1

while i < 6:
  print(i)
  i +=1

1
2
3
4
5

# Break and continue statement

In [21]:
n = 5
while n>0:
    n -=1
    if n == 2:
        break # break statement
    print(n)
print('loop ended')

4
3
loop ended

In [ ]:
n = 5
while n>0:
    n -=1
    if n == 2:
        continue #continue statement
    print(n)
print('loop ended')

# The else clause

In [1]:
n = 5
while n > 0:
    n -=1
    print(n)
    if n == 2:
        break
else:
    print('Loop Done!')

4
3
2

# One-Line while Loops

In [2]:
n = 5
while n>0: n-=1;print(n)

4
3
2
1
0

In [3]:
a = ['foo','bar','baz']
for i in a:
    print(i)

foo
bar
baz

In [4]:
d = {'foo': 1, 'bar' : 2, 'bas':3}
for k in d:
  print(k)

foo
bar
bas

In [5]:
for k in d:
  print(d[k])

1
2
3

In [6]:
for k in d.values():
  print(k)

1
2
3

In [7]:
for k in d.keys():
  print(k)

foo
bar
bas

In [8]:
for k in d.items():
  print(k)

('foo', 1)
('bar', 2)
('bas', 3)

In [9]:
for k,v in d.items():
  print(k, ":", v)

foo : 1
bar : 2
bas : 3

# The Range() Function

In [10]:
for n in (0,1,2,3,4,5):
  print(n)

0
1
2
3
4
5

In [11]:
x = range(5)
for n in x:
  print(n)

0
1
2
3
4

In [12]:
for n in range(5):
  print(n)

0
1
2
3
4

In [13]:
for i in ['foo','bar','baz','qux']:
    if 'b' in i:
        break
    print(i)

foo

In [14]:
for i in ['foo','bar','baz','qux']:
    if 'b' in i:
        continue
    print(i)

foo
qux

In [15]:
for i in ['foo','bar','baz','qux']:
    print(i)
else:
    print('Done.')

foo
bar
baz
qux
Done.

In [19]:
temp = input("Ketikkan temperatur yang ingin dikonversi, eg, 45F, 120C: ")
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == "C":
    result = int(round((9 * degree) / 5 + 32))
elif i_convertion == "F":
    result = int(round((degree - 32) * 5 / 9))
else:
    print("Masukkan Input yang benar")

print("Temperaturnya adalah", result, "derajat")

Ketikkan temperatur yang ingin dikonversi, eg, 45F, 120C: 12C
Temperaturnya adalah 54 derajat

In [17]:
temp

'98'

In [20]:
while True:
    msg = input("Ketikan Karakter: ").lower()
    print(msg)
    if msg == "stop":
        break

Ketikan Karakter: STOP
stop